body {
    font-family: "Times New Roman", san-serif;
    background-color: rgba(0, 0, 0, 0.93);
    color: white;
}

h1, h2 {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

h1 {
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 85%, 40%);
    border: 5px solid white;
    line-height: 2em;
    text-align: center; 
}

img {
    margin: 10px 33% 0 33%;
    width: 33%;
    height: auto;
    border: 2px solid white;

}

h2 {
    margin-top: 10px;
    border: 2px solid white;
    background-color: hsl(0, 0%, 0%);
    padding-left: 10%;
}

p {
    text-align: center; 
}

ul, ol {
    padding-left: 10%;
}

.description {
    text-align: center;
    padding: 0;
}



ol li:nth-child(even) {
    color: pink;
}

ul li:nth-child(2n+1) {
    color: rgb(191, 101, 116);
}
